.preHeader{
    font-size: 65px;
    font-style: italic;
}

.navi{
background-color: white;
font-weight: 300;
font-size: 30px;
text-align: center;

}

.termekek{
    background: linear-gradient(0deg, rgba(0,0,0,1)0%, rgba(125,73,23,1)100%);
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.termekek img{
    width: 200px;
    height: 200px;
}

.termekek2{
    width: 1200px;
    
    
}

.termekek2 div{
    display: flex;
    border: 1px #fff;
    border-radius: 5px;
    box-shadow: 7px 7px 20px black;
    background-color: #fff;
    max-height: 300px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 20px;
    margin-top: 20px;
    gap: 20px;
    padding-left: 10px;
}



.termekek2 div img{
    width: 200px;
    height:200px;
}

.dolgozok {
    width: 100%;
    
}

.dolgozok div{
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 20px;
}

.dolgozok div div{
    width: 1200px;
    display: flex;
    color: #000;
    text-shadow: 2px 2px 4px black;
    gap: 20px;

}
    
.dolgozok img{
    width: 200px;
    height: 200px;
}

.footer{
    width: 100vw;
    display: flex;
    height: 300px;
    padding-top: 20px;
    gap: 20px;
    justify-content: center;
    
}

a:hover{
transform: scale(1.1);
background-color: forestgreen;
border-radius: 5px;
}

a{
    transition: transform ,3s;
    text-decoration: none;
    color: brown;
    height: 60px;
}